<div class="d-flex flex-column">
    <div class="user-name d-flex flex-row justify-content-end iransans p-4">سارا صنعت دوست</div>
    <div class="container-timer">
        <div class="d-flex flex-row justify-content-center align-items-center iransans">
            <span class="work-time ms-3">02:25</span>
            <button [disabled]="taskStatus.disabledWork" (click)="onStartWork()" class="work iransans ms-3" mat-stroked-button>در حال کار</button>
            <button [disabled]="taskStatus.disabledRest" (click)="onStartRest()"  class="rest iransans ms-3" mat-stroked-button>استراحت</button>
            <span class="rest-time ms-3">00:18</span>
        </div>


        <div class="time-bar-container d-flex flex-column justify-content-end  align-items-center iransans mt-5">
            <div class="timebar d-flex flex-row">
                <!-- <span class="d-flex flex-row w-100">{{time}}</span> -->

                <!-- <span class="col d-flex flex-row justify-content-start">24:00</span>
                <span class="col d-flex flex-row justify-content-end">00:00</span> -->
            </div>
            <app-user-progress-bar></app-user-progress-bar>
        </div>
        

        <div class="mt-4 me-3">
            <app-admin-panel></app-admin-panel>
        </div>
    </div>


    <footer class="rtl d-flex flex-row justify-content-center ">
        <button (click)="onOpenDialog()" class=" iransans leave" mat-raised-button>دارم میرم</button>
    </footer>
</div>