<div class="d-flex flex-column rtl">
    <div class="user-name d-flex flex-row justify-content-end iransans p-4">سارا صنعت دوست</div>

    <div class="d-flex flex-row justify-content-center align-items-center iransans">
        <span class="work-time ms-3">02:25</span>
        <button class="work iransans ms-3" mat-stroked-button>در حال کار</button>
        <button class="rest iransans ms-3" mat-stroked-button>استراحت</button>
        <span class="rest-time ms-3">00:18</span>
    </div>

    <div class="ltr">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
</div>