.unit {
    /* width: 1px; */
    height: 5px;
    /* background-color: #9f9f9f; */
        /* position: absolute; */
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.grey {
    background-color: #9f9f9f;
}